.action-required {
  padding-bottom: 20px;
}

.action-required-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
  border-bottom: 1px solid #2c2c2c;
}

.action-required-item:first-child {
  padding-top: 0px;
}

.action-required-item:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}

.action-required-item-info {
  display: flex;
  align-items: center;
  gap: 8px;
  fill: var(--blue-color);
}

.action-required-name {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

.action-required-name-qty {
  color: var(--blue-color);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
}
