:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  --font-family:
    -apple-system, 'SF Pro Text', BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --second-family:
    -apple-system, 'SF Pro', BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --third-family:
    -apple-system, 'SF Pro Display', BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 16px;

  color: #ffffff;
  --blue-color: #0a84ff;
  --blue-color-hover: rgb(19, 114, 209);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #090909;
}

main {
  position: relative;
}

.main-content {
  animation: appSlideIn 1.1s cubic-bezier(0.32, 0.72, 0, 1) both;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
